<div id="header">
    <nav id="navbar">
        <h1 class="logo">
            <span class="fa-solid fa-bus"></span>
            <span class="title">Chicago Transit Bus</span>
        </h1>
        <ul class="nav-links">
            <li><a routerLink="/home">Routes and stops</a></li>
            <li><a routerLink="/plain-trip">Plan your trips</a></li>
            <li><a href="#">Travel Info</a></li>
        </ul>
    </nav>
    <div id="clockbar">
        <div id="clock">
            <span>{{ date }}</span>
        </div>
    </div>
</div>