.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;

  .day {
    width: 13%;
    flex: auto;
    margin: 5px;

    .number {
      background-color: var(--whiteblue);
      height: 75px;
      padding: 5px;
      width: 100%;

      .day-label {
        color: var(--darkblue);
        font-size: 1rem;
        float: right;
      }

      .day-label-today {
        color: var(--white);
        background-color: var(--darkred);
        padding: 5px;
        font-size: 1rem;
        float: right;
      }
    }

    .not-number {
      background-color: var(--lightblue);
      height: 75px;
      width: 100%;
    }
  }

  .day-label {
    width: 13%;
    height: 25px;
    flex: auto;
    margin: 5px;
    font-size: 1rem;
    color: var(--red);
    text-align: center;
  }
}

.btn-container {
  float: right;
}

.date-info {
  float: left;
}
